# Git configurations
/.github/               @Choo-Choo-Oreo
/.gitattributes         @Choo-Choo-Oreo
/.gitignore             @Choo-Choo-Oreo

# Common changes
/common/defines/        @Choo-Choo-Oreo

# Documentation changes
/documentation/         @Choo-Choo-Oreo

# Map changes
/map/                   @Choo-Choo-Oreo

# Tools
/tools/                 @Choo-Choo-Oreo

# Generic important files
CODEOWNERS              @Choo-Choo-Oreo
/CONTRIBUTING.md        @Choo-Choo-Oreo
/LICENSE.md             @Choo-Choo-Oreo
/README.md              @Choo-Choo-Oreo
